# Entornos virtuales de Python
.venv/
venv/
env/

# Archivos compilados y cache de Python
__pycache__/
*.pyc

# Archivos de configuración local (puedes subir un config.example.json)
config.json
loader.bat

# Archivos de puntuación locales/de prueba
hi/
*.hi

# Archivos de configuración de IDEs
.vscode/
.idea/